<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div class="animated fadeIn">
    <div class="row">
       
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <strong>Customer</strong> List
                </div>
                <div class="card-body">
                    <div class="header">
                        <input class="form-control" [(ngModel)]="searchText" (ngModelChange)="querySearch()" placeholder="Search...">
                    </div>
                    <div class="body table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th width="10%">Image</th>
                                    <th width="30%">Name</th>
                                    <th width="20%">Email</th>
                                    <th width="10%">Mob Num</th>
                                    <th width="10%">Last Visit</th>
                                    <th style="text-align: center;" width="10%">Active</th>
                                    <th style="text-align: center;" width="10%">Blocked</th>

                                    <th width="10px"></th>
                                    <th width="10px"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let pd of allCustomer | paginate: { itemsPerPage: 7, currentPage: p }; let i = index">
                                    <td width="10%"> <img src="{{serverImgPath}}{{pd.imagePath}}" style="height: 50px; width:50px;" ></td>
                                    <td width="30%"> {{pd.title}} {{pd.firstName}} {{pd.lastName}} </td>
                                    <td width="20%"> {{pd.email}} </td>
                                    <td width="20%"> {{pd.mobileNum}} </td>
                                    <td width="20%" > {{pd.lastVisit}} </td>


                                    <td style="text-align: center;" width="10%" *ngIf="pd.isActive=='Y'"> ✅ </td>
                                    <td style="text-align: center;" width="10%" *ngIf="pd.isActive=='N'"> ❌ </td>
                                    <td style="text-align: center;" width="10%" *ngIf="pd.isBlocked=='Y'"> ✅ </td>
                                    <td style="text-align: center;" width="10%" *ngIf="pd.isBlocked=='N'"> ❌ </td>
                                    <td width="10px">
                                       <!-- <a routerLink="/file/edit-product/{{pd.code}}"> <i class="fa fa-edit fa-lg text-success" ></i></a> -->
                                    </td>
                                    <td width="10px">
                                        <!-- <i class="fa fa-trash fa-lg text-danger" (click)="onDelete(pd.custId)"></i> -->
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <pagination-controls (pageChange)="p = $event"></pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>